{% extends 'blog/main.html' %}
{% load static %}
{% block header_background %}    
            <header class="masthead" style="background-image:url({%static 'blog/tag.jpg'%})">
            {% endblock header_background%}

{% block page_title %}اضافه کردن تگ جدید{% endblock page_title %}

{% block content %}

<div class="container mb-5">
    <div class="col-md-12" align="center">
        <form action="{% url 'add_tag_form' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="اضافه کن">
        </form>

    </div>
</div>

{% endblock content %}