{% extends 'blog/main.html' %}
{% load static %}
{% block header_background %}    
            <header class="masthead" style="background-image:url({%static 'blog/home-bg.jpg'%})">
            {% endblock header_background%}

{% block page_title %}ورود کاربر{% endblock page_title %}

{% block content %}

<div class="container mb-5">
    <div class="col-md-12" align="center">
        {% if request.GET.next %}
        <form action="{% url 'login_form' %}?next={{request.GET.next}}" method="post">
        {% else %}
        <form action="{% url 'login_form' %}" method="post">
        {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="ورود">
        </form>

    </div>
</div>

{% endblock content %}